@model GymDomain.Model.TrainingPlan

@{
ViewData["Title"] = "Choose exercise";
}


<form asp-action="SelectExercises" method="post">
    <input type="hidden" name="planId" value="@Model.Id" />

    <div class="sticky-top bg-white py-3 mb-4 shadow-sm" style="z-index: 1000;">
        <h1 class="text-center fw-bold mb-2" style="font-size: 2.2rem; letter-spacing: 1px;">
            CHOOSE EXERCISES FOR THE PLAN @Model.Name
        </h1>

        <div class="text-center">
            <button type="submit" class="btn btn-dark btn-lg px-5 py-2" style="letter-spacing: 1px; font-weight: 500;">
                SAVE
            </button>
        </div>
    </div>

    <div class="row mt-5">
        @foreach (var exercise in ViewBag.Exercises)
        {
            <div class="col-lg-3 col-md-4 col-sm-6 mb-4 text-center">
                <div class="card h-100 p-3">
                    <img src="@exercise.ImagePath"
                         alt="@exercise.Name"
                         class="img-fluid mb-2"
                         style="width: 100%; aspect-ratio: 1/1; object-fit: cover; border-radius: 12px;" />

                    <h5 class="text-uppercase">@exercise.Name</h5>
                    <p class="text-muted">@exercise.Description</p>
                    @if (!string.IsNullOrEmpty(exercise.ReferenceUrl))
                    {
                    <p>
                        <a href="@exercise.ReferenceUrl" target="_blank" class="btn btn-sm btn-outline-secondary mt-1">
                            Look it up on MuscleWiki
                        </a>
                    </p>
                    }
                    <div class="form-check d-flex justify-content-center align-items-center">
                        <input type="checkbox" class="form-check-input me-2" name="selectedExercises" value="@exercise.Id" />
                        <label class="form-check-label">Add</label>
                    </div>
                </div>
            </div>
        }
    </div>
    

</form>
